@charset "UTF-8";
/*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
 header
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */
header {
  background: #9daed569;
  border-radius: 15px;
  padding: 13px 25px;
  margin: 0 0 4% 0;
}

.h-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-family: "Arvo", serif;
  color: white;
  font-size: 32px;
  letter-spacing: 3px;
}

.h-flex a {
  display: block;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #040436;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.h-flex a span {
  font-family: "Arvo", serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 0;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.h-flex a:hover {
  background: rgba(255, 255, 255, 0.5);
}

.h-flex a:hover span {
  color: #040436;
}

/*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
 footer
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */
footer {
  background: #9daed569;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 30px 0 0 0;
}

footer small {
  font-family: "Arvo", serif;
  color: white;
  font-size: 10px;
}

/*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
 共通
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */
.allbg {
  background: url("../img/bg_04.jpg") no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.c-btnbox {
  margin: 15px 0 0 0;
}

.c-btn {
  display: inline-block;
  font-family: "Arvo", serif;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1px;
  background: #040436;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
}

.c-btn:hover {
  background: #c5cfe1cc;
  color: #040436;
}

.d-btn {
  display: inline-block;
  font-family: "Arvo", serif;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1px;
  background: #68171e;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
}

.d-btn:hover {
  background: #c5cfe1cc;
  color: #040436;
}

.col-w {
  color: white;
}

.col-ws {
  color: white;
  text-shadow: 0px 0px 7px #040436;
}

.col-b {
  color: #040436;
}

/*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
 下層共通
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */
.c-bg {
  background: #9daed569;
  border-radius: 10px;
  padding: 40px 6%;
  margin: 20px 0;
}

/*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
 index
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */
.memo-bg {
  display: block;
  background: #c5cfe1cc;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.memo-bg:hover {
  background: #c5cfe1;
}

.date {
  font-size: 13px;
  color: #282830;
}

.pager-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pager {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  background: #c5cfe1cc;
  border-radius: 5px;
  padding: 7px 12px;
  margin: 5px 5px;
  font-family: "Arvo", serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pager:hover {
  background: #040436;
  color: white;
}

.now-page {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  background: #7ec6ddcc;
  border-radius: 5px;
  padding: 7px 12px;
  margin: 5px 5px;
  font-family: "Arvo", serif;
}

/*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
 input.php
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */
.memo_area {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  font-size: 1em;
  padding: 1em;
  border: none;
  color: #040436;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", "Meiryo", sans-serif;
}

/*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
 single.php
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */
.show-memo {
  width: 100%;
  border-radius: 10px;
  padding: 1em;
  background: #fff;
}

/*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
 responsive
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */
/* end @media screen */
/* end @media screen */
@media screen and (max-width: 600px) {
  /*★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
 共通
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */
  .c-btn {
    font-size: 14px;
  }
  /* header
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */
  header {
    padding: 10px 20px;
  }
  h1 {
    font-size: 25px;
    letter-spacing: 2px;
  }
  .h-flex a {
    width: 35px;
    height: 35px;
  }
  .h-flex a span {
    font-size: 25px;
    line-height: 35px;
  }
}

/* end @media screen */
/*★★★★★★★★★★★★★★★★      /others responsive end       ★★★★★★★★★★★★★★★★★★★★★★★★★ */
/*# sourceMappingURL=default.css.map */